@define-color foreground rgba(228, 228, 239, 1);
@define-color foreground-active rgba(175, 215, 255, 1);
@define-color background rgba(0, 0, 0, 0.88);

* {
    font-family: DejaVu Sans Mono;
    font-size: 12px;
	min-height: 0;
    padding: 0.1rem;
    margin: 0;
}

window#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
}

.module {
	padding: 0rem 0.6rem;
}

#custom-separator {
	padding: 0 0.2rem;
}

#workspaces button {
    padding: 0 0.3rem;
}

#workspaces button.active {
	color: @foreground-active;
}

